## Car Insurance Data Cleaning
### Activity 1 

### Preperation
- Import files
- Rename collumns in the files before concatenating, otherwise they do not match and create a new collumn
- Concatenating
- Load data
- Drop column customer
- Rearange column order

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import statsmodels.api as sm
from scipy.stats import boxcox

pd.options.display.max_rows = 50

In [2]:
file1 = pd.read_csv('file1.csv')
file2 = pd.read_csv('file2.csv')
file3 = pd.read_csv('file3.csv')

In [3]:
file1=file1.rename(columns={'ST':'State', 'GENDER': 'Gender'}, inplace=True)

In [4]:
file2=file2.rename(columns={'ST':'State', 'GENDER': 'Gender'}, inplace=True)

In [5]:
def load_original_data():
    return pd.concat([file1,file2,file3], axis=0)

In [6]:
CA_df=load_original_data()

In [7]:
CA_df

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,23405.987980,Bachelor,M,71941,73,0,Personal Auto,198.234764,Four-Door Car
7066,PK87824,California,3096.511217,College,F,21604,79,0,Corporate Auto,379.200000,Four-Door Car
7067,TD14365,California,8163.890428,Bachelor,M,0,85,3,Corporate Auto,790.784983,Four-Door Car
7068,UP19263,California,7524.442436,College,M,21941,96,0,Personal Auto,691.200000,Four-Door Car
7069,Y167826,California,2611.836866,College,M,0,77,0,Corporate Auto,369.600000,Two-Door Car

In [8]:
def lower_case_column_names(CA_df):
    CA_df.columns=[i.lower() for i in CA_df.columns]
    return CA_df

In [9]:
lower_case_column_names(CA_df)

,customer,state,customer lifetime value,education,gender,income,monthly premium auto,number of open complaints,policy type,total claim amount,vehicle class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,23405.987980,Bachelor,M,71941,73,0,Personal Auto,198.234764,Four-Door Car
7066,PK87824,California,3096.511217,College,F,21604,79,0,Corporate Auto,379.200000,Four-Door Car
7067,TD14365,California,8163.890428,Bachelor,M,0,85,3,Corporate Auto,790.784983,Four-Door Car
7068,UP19263,California,7524.442436,College,M,21941,96,0,Personal Auto,691.200000,Four-Door Car
7069,Y167826,California,2611.836866,College,M,0,77,0,Corporate Auto,369.600000,Two-Door Car

In [10]:
def drop_columns(CA_df) :
    CA_df.drop(columns=["customer"], inplace=True)
    return CA_df

In [11]:
drop_columns(CA_df)

,state,customer lifetime value,education,gender,income,monthly premium auto,number of open complaints,policy type,total claim amount,vehicle class
0,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV
...,...,...,...,...,...,...,...,...,...,...
7065,California,23405.987980,Bachelor,M,71941,73,0,Personal Auto,198.234764,Four-Door Car
7066,California,3096.511217,College,F,21604,79,0,Corporate Auto,379.200000,Four-Door Car
7067,California,8163.890428,Bachelor,M,0,85,3,Corporate Auto,790.784983,Four-Door Car
7068,California,7524.442436,College,M,21941,96,0,Personal Auto,691.200000,Four-Door Car
7069,California,2611.836866,College,M,0,77,0,Corporate Auto,369.600000,Two-Door Car

In [12]:
list(CA_df.columns)

['state',
 'customer lifetime value',
 'education',
 'gender',
 'income',
 'monthly premium auto',
 'number of open complaints',
 'policy type',
 'total claim amount',
 'vehicle class']

In [13]:
CA_df = CA_df[['customer lifetime value','education','gender','income','monthly premium auto',
 'number of open complaints',
 'policy type','state','total claim amount', 'vehicle class']]
CA_df.head()

,customer lifetime value,education,gender,income,monthly premium auto,number of open complaints,policy type,state,total claim amount,vehicle class
0,3479.137523,High School or Below,M,0,104,0,Personal Auto,Washington,499.200000,Two-Door Car
1,2502.637401,Master,M,0,66,0,Personal Auto,Arizona,3.468912,Two-Door Car
2,3265.156348,Bachelor,F,25820,82,0,Personal Auto,Nevada,393.600000,Four-Door Car
3,4455.843406,High School or Below,F,0,121,0,Personal Auto,California,699.615192,SUV
4,7704.958480,High School or Below,M,30366,101,2,Personal Auto,California,484.800000,SUV

## Working with datatypes 

- Display data types of all the columns 
- Correct wrong types for Customer Lifetime Value and remove the percentage sign
- Change data type to float

In [14]:
CA_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7070 entries, 0 to 7069
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer lifetime value    7070 non-null   float64
 1   education                  7070 non-null   object
 2   gender                     7070 non-null   object
 3   income                     7070 non-null   int64
 4   monthly premium auto       7070 non-null   int64
 5   number of open complaints  7070 non-null   int64
 6   policy type                7070 non-null   object
 7   state                      7070 non-null   object
 8   total claim amount         7070 non-null   float64
 9   vehicle class              7070 non-null   object
dtypes: float64(2), int64(3), object(5)
memory usage: 552.5+ KB

In [15]:
CA_df['customer lifetime value']=CA_df['customer lifetime value'].astype('string')

In [16]:
CA_df['customer lifetime value']=CA_df['customer lifetime value'].str.rstrip("%")

In [17]:
CA_df['customer lifetime value'].isna().sum()

0

In [18]:
CA_df

,customer lifetime value,education,gender,income,monthly premium auto,number of open complaints,policy type,state,total claim amount,vehicle class
0,3479.137523,High School or Below,M,0,104,0,Personal Auto,Washington,499.200000,Two-Door Car
1,2502.637401,Master,M,0,66,0,Personal Auto,Arizona,3.468912,Two-Door Car
2,3265.156348,Bachelor,F,25820,82,0,Personal Auto,Nevada,393.600000,Four-Door Car
3,4455.843406,High School or Below,F,0,121,0,Personal Auto,California,699.615192,SUV
4,7704.95848,High School or Below,M,30366,101,2,Personal Auto,California,484.800000,SUV
...,...,...,...,...,...,...,...,...,...,...
7065,23405.98798,Bachelor,M,71941,73,0,Personal Auto,California,198.234764,Four-Door Car
7066,3096.511217,College,F,21604,79,0,Corporate Auto,California,379.200000,Four-Door Car
7067,8163.890428,Bachelor,M,0,85,3,Corporate Auto,California,790.784983,Four-Door Car
7068,7524.442436,College,M,21941,96,0,Personal Auto,California,691.200000,Four-Door Car
7069,2611.836866,College,M,0,77,0,Corporate Auto,California,369.600000,Two-Door Car

In [19]:
CA_df.dtypes

customer lifetime value       string
education                     object
gender                        object
income                         int64
monthly premium auto           int64
number of open complaints      int64
policy type                   object
state                         object
total claim amount           float64
vehicle class                 object
dtype: object

In [20]:
CA_df['customer lifetime value']=pd.to_numeric(CA_df['customer lifetime value'])
CA_df.dtypes

customer lifetime value      float64
education                     object
gender                        object
income                         int64
monthly premium auto           int64
number of open complaints      int64
policy type                   object
state                         object
total claim amount           float64
vehicle class                 object
dtype: object


- Change open complaints to string type
- Extract the middle number by ranging everything from left to the the middle minus 1 character
- Switch back to numeric

In [21]:
CA_df['number of open complaints'].unique()

array([0, 2, 3, 1, 5, 4])

In [22]:
CA_df['number of open complaints']=CA_df['number of open complaints'].astype('string')

In [23]:
CA_df['number of open complaints']=CA_df['number of open complaints'].str[:3].str[-1]

In [24]:
CA_df['number of open complaints']=pd.to_numeric(CA_df['number of open complaints'])

In [25]:
CA_df

,customer lifetime value,education,gender,income,monthly premium auto,number of open complaints,policy type,state,total claim amount,vehicle class
0,3479.137523,High School or Below,M,0,104,0,Personal Auto,Washington,499.200000,Two-Door Car
1,2502.637401,Master,M,0,66,0,Personal Auto,Arizona,3.468912,Two-Door Car
2,3265.156348,Bachelor,F,25820,82,0,Personal Auto,Nevada,393.600000,Four-Door Car
3,4455.843406,High School or Below,F,0,121,0,Personal Auto,California,699.615192,SUV
4,7704.958480,High School or Below,M,30366,101,2,Personal Auto,California,484.800000,SUV
...,...,...,...,...,...,...,...,...,...,...
7065,23405.987980,Bachelor,M,71941,73,0,Personal Auto,California,198.234764,Four-Door Car
7066,3096.511217,College,F,21604,79,0,Corporate Auto,California,379.200000,Four-Door Car
7067,8163.890428,Bachelor,M,0,85,3,Corporate Auto,California,790.784983,Four-Door Car
7068,7524.442436,College,M,21941,96,0,Personal Auto,California,691.200000,Four-Door Car
7069,2611.836866,College,M,0,77,0,Corporate Auto,California,369.600000,Two-Door Car

In [26]:
CA_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7070 entries, 0 to 7069
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer lifetime value    7070 non-null   float64
 1   education                  7070 non-null   object
 2   gender                     7070 non-null   object
 3   income                     7070 non-null   int64
 4   monthly premium auto       7070 non-null   int64
 5   number of open complaints  7070 non-null   int64
 6   policy type                7070 non-null   object
 7   state                      7070 non-null   object
 8   total claim amount         7070 non-null   float64
 9   vehicle class              7070 non-null   object
dtypes: float64(2), int64(3), object(5)
memory usage: 552.5+ KB

## Dropping duplicates and deplacing

- Cleaning State and Gender
- Drop duplicates

In [27]:
CA_df.gender.unique()

array(['M', 'F'], dtype=object)

In [28]:
CA_df.gender.value_counts()

F    3576
M    3494
Name: gender, dtype: int64

In [29]:
CA_df['gender'] = CA_df['gender'].replace({"Male": "M", "Female": "F", "female": "F", "Femal": "F"})

In [30]:
CA_df.state.unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon'],
      dtype=object)

In [31]:
CA_df['state']=CA_df['state'].replace({"AZ": "Arizona","Cali":"California","WA":"Washington"})

In [32]:
CA_df.drop_duplicates()

,customer lifetime value,education,gender,income,monthly premium auto,number of open complaints,policy type,state,total claim amount,vehicle class
0,3479.137523,High School or Below,M,0,104,0,Personal Auto,Washington,499.200000,Two-Door Car
1,2502.637401,Master,M,0,66,0,Personal Auto,Arizona,3.468912,Two-Door Car
2,3265.156348,Bachelor,F,25820,82,0,Personal Auto,Nevada,393.600000,Four-Door Car
3,4455.843406,High School or Below,F,0,121,0,Personal Auto,California,699.615192,SUV
4,7704.958480,High School or Below,M,30366,101,2,Personal Auto,California,484.800000,SUV
...,...,...,...,...,...,...,...,...,...,...
7065,23405.987980,Bachelor,M,71941,73,0,Personal Auto,California,198.234764,Four-Door Car
7066,3096.511217,College,F,21604,79,0,Corporate Auto,California,379.200000,Four-Door Car
7067,8163.890428,Bachelor,M,0,85,3,Corporate Auto,California,790.784983,Four-Door Car
7068,7524.442436,College,M,21941,96,0,Personal Auto,California,691.200000,Four-Door Car
7069,2611.836866,College,M,0,77,0,Corporate Auto,California,369.600000,Two-Door Car

In [33]:
CA_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7070 entries, 0 to 7069
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer lifetime value    7070 non-null   float64
 1   education                  7070 non-null   object
 2   gender                     7070 non-null   object
 3   income                     7070 non-null   int64
 4   monthly premium auto       7070 non-null   int64
 5   number of open complaints  7070 non-null   int64
 6   policy type                7070 non-null   object
 7   state                      7070 non-null   object
 8   total claim amount         7070 non-null   float64
 9   vehicle class              7070 non-null   object
dtypes: float64(2), int64(3), object(5)
memory usage: 552.5+ KB

- Remove null values
- Replace missing values with mean of columns

    - Check wether there is NA 
    - Create the mean for every numeric variable, when without values that equal 0 aka are bigger than 0
    - Use fillna to insert the mean under the said condition 
    - Check the sum of Insa to be sure it was replaced
    - Check for 0 in the variables 
    - Use replace to replace 0 with mean calculated without 0

In [34]:
CA_df['income'].isna()==False

0       True
1       True
2       True
3       True
4       True
        ...
7065    True
7066    True
7067    True
7068    True
7069    True
Name: income, Length: 7070, dtype: bool

In [35]:
mean_income=CA_df["income"][CA_df["income"] > 0].mean()

In [36]:
mean_income

50285.839969518005

In [37]:
CA_df['income'] = CA_df['income'].fillna(mean_income)

In [38]:
CA_df['income'].isna().sum()

0

In [39]:
CA_df.income.value_counts(0)

0        1821
95697       8
74015       6
62873       6
37876       6
         ...
80797       1
89410       1
52728       1
43199       1
21941       1
Name: income, Length: 4463, dtype: int64

In [40]:
CA_df['income']=CA_df['income'].replace(0,mean_income)

In [41]:
CA_df['monthly premium auto'].isna()==False

0       True
1       True
2       True
3       True
4       True
        ...
7065    True
7066    True
7067    True
7068    True
7069    True
Name: monthly premium auto, Length: 7070, dtype: bool

In [42]:
mean_monthly_premium_auto=CA_df["monthly premium auto"][CA_df["monthly premium auto"] > 0].mean()

In [43]:
CA_df['monthly premium auto'] = CA_df['monthly premium auto'].fillna(mean_monthly_premium_auto)

In [44]:
CA_df['monthly premium auto'].isna().sum()

0

In [45]:
CA_df['monthly premium auto']=CA_df['monthly premium auto'].replace(0,mean_monthly_premium_auto)

In [46]:
CA_df['number of open complaints'].isna()==False

0       True
1       True
2       True
3       True
4       True
        ...
7065    True
7066    True
7067    True
7068    True
7069    True
Name: number of open complaints, Length: 7070, dtype: bool

In [47]:
mean_number_complaints=CA_df["number of open complaints"][CA_df["number of open complaints"] > 0].mean()

In [48]:
CA_df['number of open complaints'] = CA_df['number of open complaints'].fillna(mean_number_complaints)

In [49]:
CA_df['number of open complaints'].isna().sum()

0

In [50]:
CA_df['number of open complaints']=CA_df['number of open complaints'].replace(0,mean_number_complaints)

In [51]:
CA_df['total claim amount'].isna()==False

0       True
1       True
2       True
3       True
4       True
        ...
7065    True
7066    True
7067    True
7068    True
7069    True
Name: total claim amount, Length: 7070, dtype: bool

In [52]:
mean_total_claim=CA_df['total claim amount'][CA_df['total claim amount'] > 0].mean()

In [53]:
CA_df['total claim amount'] = CA_df['total claim amount'].fillna(mean_total_claim)

In [54]:
CA_df['total claim amount'].isna().sum()

0

In [55]:
CA_df['total claim amount']=CA_df['total claim amount'].replace(0,mean_total_claim)

## Activity 2
### Bucketing Data
- Write a function to replace column "State" to different zones
- Standartize the data with lower cases

In [56]:
CA_df['state']=CA_df['state'].replace({'California' : 'West Region', 'Oregon' : 'North West', 'Washington' : 'East', 'Arizona' : 'Central', 'Nevada' : 'Central'})

In [57]:
CA_df['state']

0              East
1           Central
2           Central
3       West Region
4       West Region
           ...
7065    West Region
7066    West Region
7067    West Region
7068    West Region
7069    West Region
Name: state, Length: 7070, dtype: object

In [58]:
CA_df = CA_df.applymap(lambda s: s.lower() if type(s) == str else s)

In [59]:
CA_df

,customer lifetime value,education,gender,income,monthly premium auto,number of open complaints,policy type,state,total claim amount,vehicle class
0,3479.137523,high school or below,m,50285.83997,104,1.885496,personal auto,east,499.200000,two-door car
1,2502.637401,master,m,50285.83997,66,1.885496,personal auto,central,3.468912,two-door car
2,3265.156348,bachelor,f,25820.00000,82,1.885496,personal auto,central,393.600000,four-door car
3,4455.843406,high school or below,f,50285.83997,121,1.885496,personal auto,west region,699.615192,suv
4,7704.958480,high school or below,m,30366.00000,101,2.000000,personal auto,west region,484.800000,suv
...,...,...,...,...,...,...,...,...,...,...
7065,23405.987980,bachelor,m,71941.00000,73,1.885496,personal auto,west region,198.234764,four-door car
7066,3096.511217,college,f,21604.00000,79,1.885496,corporate auto,west region,379.200000,four-door car
7067,8163.890428,bachelor,m,50285.83997,85,3.000000,corporate auto,west region,790.784983,four-door car
7068,7524.442436,college,m,21941.00000,96,1.885496,personal auto,west region,691.200000,four-door car
7069,2611.836866,college,m,50285.83997,77,1.885496,corporate auto,west region,369.600000,two-door car

## Activity 3
- Check numerical variables
- Check categorical variables

In [60]:
CA_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7070 entries, 0 to 7069
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer lifetime value    7070 non-null   float64
 1   education                  7070 non-null   object
 2   gender                     7070 non-null   object
 3   income                     7070 non-null   float64
 4   monthly premium auto       7070 non-null   int64
 5   number of open complaints  7070 non-null   float64
 6   policy type                7070 non-null   object
 7   state                      7070 non-null   object
 8   total claim amount         7070 non-null   float64
 9   vehicle class              7070 non-null   object
dtypes: float64(4), int64(1), object(5)
memory usage: 552.5+ KB

In [61]:
CA_df.select_dtypes('object')

                 education gender     policy type        state  vehicle class
0     high school or below      m   personal auto         east   two-door car
1                   master      m   personal auto      central   two-door car
2                 bachelor      f   personal auto      central  four-door car
3     high school or below      f   personal auto  west region            suv
4     high school or below      m   personal auto  west region            suv
...                    ...    ...             ...          ...            ...
7065              bachelor      m   personal auto  west region  four-door car
7066               college      f  corporate auto  west region  four-door car
7067              bachelor      m  corporate auto  west region  four-door car
7068               college      m   personal auto  west region  four-door car
7069               college      m  corporate auto  west region   two-door car

[7070 rows x 5 columns]

In [62]:
CA_df.select_dtypes('number')

,customer lifetime value,income,monthly premium auto,number of open complaints,total claim amount
0,3479.137523,50285.83997,104,1.885496,499.200000
1,2502.637401,50285.83997,66,1.885496,3.468912
2,3265.156348,25820.00000,82,1.885496,393.600000
3,4455.843406,50285.83997,121,1.885496,699.615192
4,7704.958480,30366.00000,101,2.000000,484.800000
...,...,...,...,...,...
7065,23405.987980,71941.00000,73,1.885496,198.234764
7066,3096.511217,21604.00000,79,1.885496,379.200000
7067,8163.890428,50285.83997,85,3.000000,790.784983
7068,7524.442436,21941.00000,96,1.885496,691.200000
7069,2611.836866,50285.83997,77,1.885496,369.600000

## Activitiy 6
- One Hot/Label Encoding of the categorical variables in the categoricals data frame that you created in Activity 4.
- for the first iteration, we will focus on the numericals data (numericals data frame) as our data source.
- X-y split.