# Pandas: grouping

In [25]:
import pandas as pd
import numpy as np

In [26]:
cars = pd.read_csv("data/vehicles.csv")

In [27]:
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

How many Car models?

In [78]:
cars['Model'].value_counts()

F150 Pickup 2WD      197
F150 Pickup 4WD      179
Truck 2WD            173
Mustang              170
Jetta                169
                    ...
C300 Convertible       1
C300 Coupe             1
C300 FFV               1
C320 4matic Sedan      1
DJ Po Vehicle 2WD      1
Name: Model, Length: 3608, dtype: int64

group by the data by the Make  using count function

In [70]:
cars.groupby('Make').count()

,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Make,,,,,,,,,,,,,,
AM General,4,4,4,4,4,4,4,4,4,4,4,4,4,4
ASC Incorporated,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Acura,302,302,302,302,302,302,302,302,302,302,302,302,302,302
Alfa Romeo,41,41,41,41,41,41,41,41,41,41,41,41,41,41
American Motors Corporation,22,22,22,22,22,22,22,22,22,22,22,22,22,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Volkswagen,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047
Volvo,717,717,717,717,717,717,717,717,717,717,717,717,717,717
Wallace Environmental,32,32,32,32,32,32,32,32,32,32,32,32,32,32
Yugo,8,8,8,8,8,8,8,8,8,8,8,8,8,8
smart,20,20,20,20,20,20,20,20,20,20,20,20,20,20

What brand has the most cars?

In [64]:
cars.groupby('Make')['Model'].count().sort_values(ascending=False)

Make
Chevrolet                             3643
Ford                                  2946
Dodge                                 2360
GMC                                   2347
Toyota                                1836
                                      ...
Excalibur Autos                          1
S and S Coach Company  E.p. Dutton       1
Environmental Rsch and Devp Corp         1
E. P. Dutton, Inc.                       1
Lambda Control Systems                   1
Name: Model, Length: 127, dtype: int64

<b>show the average CO2_Emission_Grams/Km  by Brand

In [77]:
cars.groupby(['Make'])['CO2 Emission Grams/Mile'].mean()

Make
AM General                     611.358244
ASC Incorporated               555.437500
Acura                          422.585325
Alfa Romeo                     463.952115
American Motors Corporation    505.758823
                                  ...
Volkswagen                     392.741721
Volvo                          435.803755
Wallace Environmental          657.990029
Yugo                           356.068256
smart                          247.030556
Name: CO2 Emission Grams/Mile, Length: 127, dtype: float64

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [79]:
cars.groupby(['Make'])['CO2 Emission Grams/Mile'].mean().sort_values(ascending=False)

Make
Vector                                1049.159722
Superior Coaches Div E.p. Dutton       888.700000
S and S Coach Company  E.p. Dutton     888.700000
Bugatti                                873.062500
Laforza Automobile Inc                 807.909091
                                         ...
MINI                                   313.716862
Daihatsu                               310.188060
Fiat                                   304.666560
smart                                  247.030556
Fisker                                 169.000000
Name: CO2 Emission Grams/Mile, Length: 127, dtype: float64

Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [146]:
cars['Year'].describe()

count    35952.00000
mean      2000.71640
std         10.08529
min       1984.00000
25%       1991.00000
50%       2001.00000
75%       2010.00000
max       2017.00000
Name: Year, dtype: float64

In [144]:
pd.cut(cars['Year'],4)

0        (1983.967, 1992.25]
1        (1983.967, 1992.25]
2        (1983.967, 1992.25]
3        (1983.967, 1992.25]
4        (1983.967, 1992.25]
                ...
35947      (2008.75, 2017.0]
35948      (2008.75, 2017.0]
35949      (2008.75, 2017.0]
35950      (2008.75, 2017.0]
35951      (2008.75, 2017.0]
Name: Year, Length: 35952, dtype: category
Categories (4, interval[float64, right]): [(1983.967, 1992.25] < (1992.25, 2000.5] < (2000.5, 2008.75] < (2008.75, 2017.0]]

In [119]:
labels_years=["between 1984 and 1992", "between 1992 and 2000", "between 2000 and 2009", "between 2009 and 2017"]

In [124]:
years_cat=pd.cut(cars['Year'],4, labels=labels_years)
years_cat

0        between 1984 and 1992
1        between 1984 and 1992
2        between 1984 and 1992
3        between 1984 and 1992
4        between 1984 and 1992
                 ...
35947    between 2009 and 2017
35948    between 2009 and 2017
35949    between 2009 and 2017
35950    between 2009 and 2017
35951    between 2009 and 2017
Name: Year, Length: 35952, dtype: category
Categories (4, object): ['between 1984 and 1992' < 'between 1992 and 2000' < 'between 2000 and 2009' < 'between 2009 and 2017']

### Did cars consume more gas in the eighties?

show the average City_Km/Liter by year_range

In [152]:
cars.groupby(['Years'])['CO2 Emission Grams/Mile'].mean()

Years
between 1984 and 1992    500.662151
between 1992 and 2000    488.265799
between 2000 and 2009    488.195869
between 2009 and 2017    430.801854
Name: CO2 Emission Grams/Mile, dtype: float64

Which brands are more environment friendly?

In [156]:
cars.groupby(['Make'])['CO2 Emission Grams/Mile'].mean().sort_values(ascending=True)

Make
Fisker                                 169.000000
smart                                  247.030556
Fiat                                   304.666560
Daihatsu                               310.188060
MINI                                   313.716862
                                         ...
Laforza Automobile Inc                 807.909091
Bugatti                                873.062500
Superior Coaches Div E.p. Dutton       888.700000
S and S Coach Company  E.p. Dutton     888.700000
Vector                                1049.159722
Name: CO2 Emission Grams/Mile, Length: 127, dtype: float64

Does the drivetrain affect fuel consumption?

In [159]:
cars.groupby(['Drivetrain'])['Combined MPG'].mean().sort_values(ascending=True)

Drivetrain
Part-time 4-Wheel Drive       16.272152
4-Wheel or All-Wheel Drive    16.744733
2-Wheel Drive                 17.009456
Rear-Wheel Drive              17.526481
4-Wheel Drive                 19.077505
All-Wheel Drive               20.930358
Front-Wheel Drive             23.912220
2-Wheel Drive, Front          28.000000
Name: Combined MPG, dtype: float64

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [170]:
cars.groupby(['Transmission'])['Combined MPG'].count().sort_values(ascending=False)

Transmission
Automatic 4-spd                     10585
Manual 5-spd                         7787
Automatic (S6)                       2631
Automatic 3-spd                      2597
Manual 6-spd                         2423
Automatic 5-spd                      2171
Automatic 6-spd                      1432
Manual 4-spd                         1306
Automatic (S8)                        960
Automatic (S5)                        822
Automatic (variable gear ratios)      675
Automatic 7-spd                       662
Automatic (S7)                        261
Auto(AM-S7)                           256
Automatic 8-spd                       243
Automatic (S4)                        229
Auto(AM7)                             157
Auto(AV-S6)                           145
Auto(AM6)                             110
Auto(AM-S6)                            92
Automatic 9-spd                        90
Manual 3-spd                           74
Manual 7-spd                           68
Auto(AV-S7)                            63
Auto(AV-S8)                            26
Automatic (S9)                         26
Auto(AM5)                              12
Automatic (AV-S6)                       9
Auto(AM-S8)                             6
Auto(AM8)                               5
Automatic (AV)                          4
Automatic (A6)                          4
Manual(M7)                              3
Automatic (A1)                          3
Automatic (AM5)                         2
Auto(L4)                                2
Auto(L3)                                2
Auto (AV)                               2
Auto (AV-S6)                            1
Automatic 6spd                          1
Automatic (AM6)                         1
Manual 5 spd                            1
Auto(AM-S9)                             1
Auto(A1)                                1
Auto (AV-S8)                            1
Name: Combined MPG, dtype: int64

Use `groupby` and `aggregate` with different aggregation measures for different columns:

aggregate with average City_Km/Liter and the count of the Trans

In [194]:
mean_CityMPG=cars['City MPG'].mean()
mean_CityMPG

17.646139296840232

In [198]:
cars.groupby(['Transmission'])['Combined MPG'].count().sort_values(ascending=False).aggregate(['mean'])

AttributeError: 'mean_CityMPG' is not a valid function for 'Series' object

aggregate with average City_Km/Liter and the minimum of the Trans

           City_Km/Liter
Trans
Automatic       2.976000
Manual          2.550857