In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import statsmodels.api as sm
from scipy.stats import boxcox

pd.options.display.max_rows = 50

In [2]:
NewCA = pd.read_csv('newdataframe')
NewCA

,Unnamed: 0,region_central,region_east,region_north west,region_west region,response_no,response_yes,coverage_basic,coverage_extended,coverage_premium,...,vehicle_size_small,Unnamed: 0.1,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,0,1,0,0,0,1,0,1,0,0,...,0,0,4809,48029,61,7,52,0,9,292
1,1,0,0,0,1,1,0,1,0,0,...,0,1,2228,26794,64,3,26,0,1,744
2,2,0,1,0,0,1,0,1,0,0,...,0,2,14947,22139,100,34,31,0,2,480
3,3,0,0,1,0,0,1,0,1,0,...,0,3,22332,49078,97,10,3,0,2,484
4,4,0,0,1,0,1,0,0,0,1,...,0,4,9025,23675,117,15,31,1,7,707
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,10684,1,0,0,0,1,0,0,0,1,...,0,10684,15563,64811,253,8,40,2,7,1214
10685,10685,0,0,1,0,1,0,1,0,0,...,0,10685,5259,61146,65,7,68,0,6,273
10686,10686,1,0,0,0,1,0,0,1,0,...,0,10686,23893,39837,201,11,63,0,2,381
10687,10687,0,0,0,1,1,0,0,0,1,...,0,10687,11971,64195,158,0,27,4,6,618
10688,10688,0,0,0,1,1,0,1,0,0,...,0,10688,6857,88784,101,31,1,0,3,1021

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
from sklearn.preprocessing import StandardScaler
import numpy as np

In [9]:
X=NewCA

In [10]:
X.describe()

,Unnamed: 0,region_central,region_east,region_north west,region_west region,response_no,response_yes,coverage_basic,coverage_extended,coverage_premium,...,vehicle_size_small,Unnamed: 0.1,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
count,10689.000000,10689.000000,10689.000000,10689.000000,10689.000000,10689.000000,10689.000000,10689.000000,10689.000000,10689.000000,...,10689.000000,10689.000000,10689.000000,10689.000000,10689.000000,10689.000000,10689.000000,10689.000000,10689.000000,10689.000000
mean,5344.000000,0.287772,0.086444,0.282159,0.343624,0.872673,0.127327,0.610254,0.299935,0.089812,...,0.189915,5344.000000,8011.906727,51757.468987,93.190196,15.140425,48.100571,0.387501,2.980821,434.227243
std,3085.792848,0.452746,0.281032,0.450071,0.474940,0.333355,0.333355,0.487716,0.458250,0.285926,...,0.392252,3085.792848,6877.557889,24967.653440,34.413111,10.075678,27.934300,0.914320,2.399497,292.550878
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1898.000000,10037.000000,61.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,2672.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,2672.000000,4014.000000,29095.000000,68.000000,6.000000,24.000000,0.000000,1.000000,269.000000
50%,5344.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,5344.000000,5776.000000,50144.000000,83.000000,14.000000,48.000000,0.000000,2.000000,383.000000
75%,8016.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,...,0.000000,8016.000000,8991.000000,72517.000000,109.000000,23.000000,71.000000,0.000000,4.000000,547.000000
max,10688.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,10688.000000,83325.000000,99981.000000,298.000000,35.000000,99.000000,5.000000,9.000000,2893.000000

In [12]:
y=NEWCA.total_claim_amount

NameError: name 'total_claim_amount' is not defined

In [ ]:
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=.30,random_state=123)